html {
    font-size: 62.5%
}

body, h2, h3, h4, p {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    color: #3f434a
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 15px)
    }
    100% {
        opacity: 1
    }
}

h2 {
    font-size: 2.2rem;
    font-weight: normal
}

@media screen and (min-width: 767px) {
    h2 {
        font-size: 2.6rem
    }
}

h3 {
    font-size: 2rem;
    font-weight: normal
}

@media screen and (min-width: 767px) {
    h3 {
        font-size: 2.2rem
    }
}

p {
    font-size: 1.5rem
}

.pages_controller.home_action img {
    width: 100%
}

.pages_controller.home_action section.header {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_header_pink_sp-de1ec860149bbba5f40f558d1e2c8ed1e1c570445e1f6016dc0728d2bf56121a.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 660px;
    text-align: center;
    position: relative;
    padding-top: 48px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.header {
        background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_header_pink-4704d42ed44908fb061e80afc515a93ab2fcbfd605c2580de486a4d980b2115a.jpg);
        background-position: center bottom;
        background-repeat: no-repeat
    }
}

.pages_controller.home_action section.header h2, .pages_controller.home_action section.header h3, .pages_controller.home_action section.header p {
    color: #fff
}

.pages_controller.home_action section.header .tagline {
    font-size: 1.8rem;
    color: #fff;
    margin: 16px 6vmin 24px;
    animation: fadeIn 2s ease 0.2s 1 normal
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.header .tagline {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 24px
    }
}

.pages_controller.home_action section.header .logo {
    margin: 0 auto 16px;
    width: 131px;
    height: 116px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/header_logo-0dbc9cb7c037472d3bf71fde0c1d3efd708c2c2547e9ed3e420051ca826cdad8.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
    animation: fadeIn 2s ease 0.2s 1 normal
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.header .logo {
        margin-top: 15vh
    }
}

.pages_controller.home_action section.header .btn_download {
    animation: fadeIn 2s ease 0.2s 1 normal
}

.pages_controller.home_action section.header .content {
    margin: 0 auto;
    text-align: center;
    padding-top: 260px;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    animation: fadeIn 2s ease 0.2s 1 normal
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.header .content {
        padding-top: 24px
    }
}

.pages_controller.home_action section.header .content .footnote {
    margin: 24px auto
}

.pages_controller.home_action section.header .content .footnote p {
    margin-bottom: 4px
}

.pages_controller.home_action section.service h2, .pages_controller.home_action section.service h3, .pages_controller.home_action section.service p {
    color: #fff
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.service h2 {
        font-size: 2.4rem
    }
}

.pages_controller.home_action section.service p {
    text-align: justify
}

.pages_controller.home_action section.service .container {
    display: flex;
    flex-wrap: wrap
}

.pages_controller.home_action section.service .container .item {
    padding: 8vmin 6vmin;
    flex-grow: 1;
    flex-basis: 100vw;
    min-height: 540px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.service .container .item {
        flex-basis: 1vw;
        height: 80vh
    }
}

.pages_controller.home_action section.service .container .item1 {
    background: #cdbeca;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_service01-01ee576583ddad054106d9f2dc78caf78be6c829383351a4fbc99ac5a566020a.jpg);
    background-size: cover;
    background-position: center bottom
}

.pages_controller.home_action section.service .container .item2 {
    background: #b2bac4;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_service02-cd59d8cd17b05503a9fc3eeae42d618d0cc19b2277b581f5db275d5dde09e94d.jpg);
    background-size: cover;
    background-position: center bottom
}

.pages_controller.home_action section.service .container .item3 {
    background: #e6d5b1;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_service03-4c44f872ed6f7ed3007faeb109b1e03ceabcdb3106ba54392a5457a159a0f2ab.jpg);
    background-size: cover;
    background-position: center bottom
}

.pages_controller.home_action section.price {
    text-align: center
}

.pages_controller.home_action section.price .container {
    display: flex;
    flex-wrap: wrap;
    background: #b266c4;
}

.pages_controller.home_action section.price .container .item {
    flex-grow: 1;
    flex-basis: 375px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.price .container .wrap {
        width: 400px;
        margin: 0 auto
    }
}

.pages_controller.home_action section.price .container .price {
    padding: 16vmin 6vmin 20vmin;
    background: #f5f566;
    height: 510spx
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.price .container .price {
        padding: 64px 24px
    }
}

.pages_controller.home_action section.price .container .price h2 {
    font-size: 2rem
}

.pages_controller.home_action section.price .container .price .wrap {
    max-width: 400px;
    margin: 0 auto
}

.pages_controller.home_action section.price .container .price .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px
}

.pages_controller.home_action section.price .container .price .content .bouquet {
    flex-basis: 200px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/price_bouquetimg-9d58e59120ae586337c3b91a2f531ad14e7b05dc3d3ec63ab0ee68b41c8852fb.png);
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 24px 0 8px
}

.pages_controller.home_action section.price .container .price .content .bouquet .freetrial {
    height: 46px;
    width: 125px;
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/price_freetrial-f9eff918f8de1901e1e25d84228cb3ab5eb126f5c2469cfc03ea46b507f29e49.png);
    background-size: cover;
    background-position: center
}

.pages_controller.home_action section.price .container .price .content .bouquet_price {
    margin: 16px auto;
    flex: none;
    font-weight: bold
}

.pages_controller.home_action section.price .container .price .content .bouquet_price p {
    margin: 0
}

.pages_controller.home_action section.price .container .price .content .bouquet_price p.large {
    font-size: 2rem
}

.pages_controller.home_action section.price .container .price .content .bouquet_price p.large span {
    font-size: 1.5rem
}

.pages_controller.home_action section.price .container .price .footnote p {
    font-size: 1.3rem;
    margin: 0
}

.pages_controller.home_action section.price .container .frequency {
    padding: 16vmin 0 20vmin
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.price .container .frequency {
        margin: auto;
        padding: 64px 24px
    }
}

.pages_controller.home_action section.price .container .frequency h2 {
    font-size: 2rem
}

.pages_controller.home_action section.price .container .frequency .img {
    margin-top: 24px;
    height: 156px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/img_frequency-e1cc7b2fcecb9a18105144861c456538abb21a5049fe1d320846cb61e42d1fdd.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.price .container .frequency .img {
        background-size: contain
    }
}

.pages_controller.home_action section.download {
    background: #3f434a;
    text-align: center;
    padding: 12vmin 6vmin 16vmin
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.download {
        display: none
    }
}

.pages_controller.home_action section.download h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 16px
}

@media screen and (max-width: 320px) {
    .pages_controller.home_action section.download h2 {
        font-size: 1.8rem
    }
}

.pages_controller.home_action section.flower {
    background: #ead5dc;
    padding: 16vmin 6vmin 20vmin
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.flower {
        padding: 0 6vmin
    }
}

.pages_controller.home_action section.flower h2, .pages_controller.home_action section.flower h3 {
    text-align: center
}

.pages_controller.home_action section.flower h3 {
    margin-top: 24px
}

.pages_controller.home_action section.flower p {
    text-align: justify
}

.pages_controller.home_action section.flower .container {
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.flower .container {
        flex-flow: column wrap
    }
}

.pages_controller.home_action section.flower .container .item {
    flex-grow: 1
}

.pages_controller.home_action section.flower .container .title {
    max-height: fit-content;
    margin-bottom: 24px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.flower .container .title {
        order: 2;
        width: 50%;
        margin-top: 140px
    }
}

.pages_controller.home_action section.flower .container .img {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_flower-1a07674a0e731b035e9344d0b0ec772eb116759368da38dc0b21bec925479009.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 730px
}

@media screen and (max-width: 499px) {
    .pages_controller.home_action section.flower .container .img {
        width: 100%
    }
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.flower .container .img {
        order: 1;
        width: 50%
    }
}

.pages_controller.home_action section.flower .container .body {
    max-width: 400px;
    margin: 0 auto
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.flower .container .body {
        order: 3;
        margin: 0 auto
    }
}

.pages_controller.home_action section.vase {
    padding: 16vmin 0 16vmin;
    background: #e7e3df
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.vase {
        padding: 10vmin 0 0
    }
}

.pages_controller.home_action section.vase h2 {
    text-align: center
}

.pages_controller.home_action section.vase p {
    text-align: justify
}

.pages_controller.home_action section.vase .container {
    height: 980px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.vase .container {
        height: 730px;
        flex-flow: column wrap
    }
}

.pages_controller.home_action section.vase .container .item {
    flex-grow: 1
}

.pages_controller.home_action section.vase .container .title {
    padding: 0 6vmin
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.vase .container .title {
        max-height: fit-content;
        order: 1;
        width: 50%;
        max-height: fit-content
    }
}

.pages_controller.home_action section.vase .container .img {
    height: 730px;
    width: 100vmin;
    margin: 0 auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_vase-45bcc89846e1a077353f799e42054251c3e3e570fcc453b8d96282d5df1ad6db.jpg);
    background-size: 112%;
    background-position: center bottom;
    background-repeat: no-repeat
}

@media screen and (min-width: 460px) {
    .pages_controller.home_action section.vase .container .img {
        background-size: contain
    }
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.vase .container .img {
        min-height: 0;
        order: 3;
        width: 50%;
        background-size: cover
    }
}

@media screen and (min-width: 1400px) {
    .pages_controller.home_action section.vase .container .img {
        background-size: cover
    }
}

.pages_controller.home_action section.vase .container .body {
    max-width: 400px;
    margin: 0 auto;
    padding: 2vmin 6vmin
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.vase .container .body {
        order: 2;
        width: 400px;
        margin: 0 auto;
        margin-top: 32px;
        padding: 0
    }
}

.pages_controller.home_action section.vase .discount {
    display: flex;
    margin-top: 16px
}

.pages_controller.home_action section.vase .discount p {
    background: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 auto
}

.pages_controller.home_action section.vase .vase_variation {
    display: flex;
    justify-content: space-between;
    margin: 24px auto
}

.pages_controller.home_action section.vase .vase_variation .item {
    flex-grow: 1;
    height: 116px;
    max-width: 98px;
    position: relative
}

.pages_controller.home_action section.vase .vase_variation .item p {
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    margin: auto
}

.pages_controller.home_action section.vase .vase_variation .bell {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/vase_bell-3242683261f661614798b85f339c955bd9a56d231773730ffd7a0ab8028747e2.jpg);
    background-size: cover
}

.pages_controller.home_action section.vase .vase_variation .moon {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/vase_moon-6ef8eca3a0e8166d7a28acda51109e2050ee74ed94a839638ac1f954223647fb.jpg);
    background-size: cover
}

.pages_controller.home_action section.vase .vase_variation .candle {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/vase_candle-ca20f4ad96c7cbfe245a497dc9aa0875a4bcc5c8a14056e8297096bb720d4bdd.jpg);
    background-size: cover
}

.pages_controller.home_action section.vase .price {
    display: flex;
    margin-bottom: 16px
}

.pages_controller.home_action section.vase .price .title {
    order: 1;
    border: 2px solid;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    display: inline-block;
    margin-right: 16px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.vase .price .title {
        width: 100px
    }
}

.pages_controller.home_action section.vase .price .content {
    order: 2
}

.pages_controller.home_action section.vase .price .content .discount_price {
    font-size: 1.8rem
}

@media screen and (max-width: 320px) {
    .pages_controller.home_action section.vase .price .content .discount_price {
        font-size: 1.7rem
    }
}

.pages_controller.home_action section.vase .price .content .normal_price {
    font-size: 1.3rem
}

.pages_controller.home_action section.vase .footnote {
    font-size: 1.3rem
}

.pages_controller.home_action section.service2 {
    padding: 16vmin 4vmin 20vmin;
    text-align: center;
    background: #66f566;
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.service2 {
        padding: 12vmin 4vmin 16vmin
    }
}

.pages_controller.home_action section.service2 .container {
    display: flex;
    flex-wrap: wrap
}

.pages_controller.home_action section.service2 .container p {
    font-size: 1.5rem
}

.pages_controller.home_action section.service2 .container .item {
    flex-grow: 1;
    flex-basis: 223px;
    padding-top: 80px;
    margin-top: 24px
}

.pages_controller.home_action section.service2 .container .item1 {
    width: 80px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon01-a28ec01862252e91844e967c292c48f010ba5745676732f440604d719fb55337.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80px
}

.pages_controller.home_action section.service2 .container .item2 {
    width: 80px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon02-6a6d3d2a031a144e73704a6503c1ca38ca27285aa7462f9d93b914dea4228c8c.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80px
}

.pages_controller.home_action section.service2 .container .item3 {
    width: 80px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon03-25ad908ec8524d66e532f232a4dee07d6e0fe1535e366871cba3bede0dd3e334.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80px
}

.pages_controller.home_action section.download2 {
    background: #efdfc5;
    padding: 16vmin 4vmin 0;
    text-align: center
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.download2 {
        height: 420px;
        padding: 0 4vmin
    }
}

.pages_controller.home_action section.download2 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.download2 .container {
        flex-direction: row
    }
}

.pages_controller.home_action section.download2 .container .logo {
    padding-top: 76px;
    height: 145px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/logo_vertical_navy-a362e5ea10920c0f986d06be36f717a75260d77bfaa4543c4dad42c188d87568.png);
    background-repeat: no-repeat;
    background-size: 118px;
    background-position: center top;
    z-index: 100
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.download2 .container .logo {
        order: 2;
        margin-left: -250px;
        margin-top: 60px
    }
}

.pages_controller.home_action section.download2 .container .logo h3 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 24px
}

.pages_controller.home_action section.download2 .container .img {
    margin: -40px auto 0;
    min-height: 278px;
    height: 50vmin;
    width: 70vmin;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_download2-afd5325a6ad7ae095cd1aad7172be40a68704bad0eaae90dbff5e274759345ad.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.download2 .container .img {
        margin: 0;
        order: 1;
        width: 80%;
        height: 422px;
        background-size: contain
    }
}

.pages_controller.home_action .footnote p {
    font-size: 1.3rem
}

.pages_controller.home_action .btn_download {
    width: 202px;
    height: 60px;
    margin: 0 auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/images/web/home/button_appstore.png);
    background-size: cover
}

.pages_controller.home_action .download_sp {
    padding: 24px 16px;
    background: rgba(255, 255, 255, 0.8);
    height: 97px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px)
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action .download_sp {
        display: none
    }
}

.pages_controller.home_action .download_sp .container {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.pages_controller.home_action .download_sp .container .badge_appstore {
    width: 164px;
    height: 49px;
    margin: 0 auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/Badge_Appstore-9f3fcecf66049829e600e6a1299fa1671b7c66c829f4a2a34ffd43ce946a71d7.png);
    background-size: cover;
    margin-right: 16px
}

.pages_controller.home_action .download_sp .container .badge_googleplaystore {
    width: 164px;
    height: 49px;
    margin: 0 auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/Badge_Googleplaystore-8a4acc6f065bfdaafb2029998f0a464d0ac4571b2b89210218c71e1ae4c8078a.png);
    background-size: cover
}

.pages_controller.home_action .download_pc {
    padding: 24px 16px;
    height: 97px;
    width: 100%
}

@media screen and (max-width: 767px) {
    .pages_controller.home_action .download_pc {
        display: none
    }
}

.pages_controller.home_action .download_pc .container {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.pages_controller.home_action .download_pc .container .badge_appstore {
    width: 164px;
    height: 49px;
    margin: 0 auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/Badge_Appstore-9f3fcecf66049829e600e6a1299fa1671b7c66c829f4a2a34ffd43ce946a71d7.png);
    background-size: cover;
    margin-right: 16px
}

.pages_controller.home_action .download_pc .container .badge_googleplaystore {
    width: 164px;
    height: 49px;
    margin: 0 auto;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/Badge_Googleplaystore-8a4acc6f065bfdaafb2029998f0a464d0ac4571b2b89210218c71e1ae4c8078a.png);
    background-size: cover
}

.pages_controller.home_action section.footer {
    padding: 8vmin 8vmin 32vmin;
    background: #3f434a;
    position: relative;
    min-height: 164px
}

.pages_controller.home_action section.footer a {
    color: #fff
}

.pages_controller.home_action section.footer .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.footer .container {
        flex-direction: row;
        width: 90%
    }
}

.pages_controller.home_action section.footer .item {
    flex-grow: 1;
    margin-bottom: 16px
}

@media screen and (min-width: 767px) {
    .pages_controller.home_action section.footer .item {
        flex-basis: auto
    }
}

.pages_controller.home_action section.footer .instagram {
    width: 64px;
    height: 64px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon_instagram-6c2d12f7a83c502d4e70a7df909d1124e0b21acab3b6793411c6453aa3172f5f.png);
    background-size: cover;
    position: absolute;
    top: 24px;
    right: 24px
}

.pages_controller.home_action section.footer .copyright {
    text-align: center;
    position: absolute;
    bottom: 124px;
    right: 0;
    left: 0;
    margin: auto
}

.pages_controller.home_action section.footer .copyright p {
    color: #fff;
    font-size: 1.3rem;
    opacity: 0.4
}

.pages_controller.home_action .white {
    color: #fff
}

.pages_controller.home_action .navy {
    color: #3f434a
}

.pages_controller.home_action .mt16 {
    margin-top: 16px
}

.pages_controller.home_action section.images {
    margin: 0 auto;
    max-width: 375px
}

.pages_controller.home_action section.images img {
    width: 100%;
    display: block
}